@charset "utf-8";
body {
    background-color: #E86769;
}
h1 {
    font-style: italic;
    font-size: 30px;
    font-family: "標楷體";
}
p {
    font-family: "標楷體";
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
}
